:root {
  --branding-color: #ffaaa5;
  --secondary-color: #fcf8f3;
  --text-color: #2a363b;
}

body {
  background-image: url(/public/images/pic_11.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  min-height: 100vh;
}
