.WeatherInfo h1 {
  color: var(--branding-color);
  font-size: 50px;
  margin-bottom: 5px;
}

.WeatherInfo h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

.WeatherInfo h3 {
  font-size: 20px;
  opacity: 0.5;
}

.WeatherInfo h3:first-letter {
  text-transform: capitalize;
}

.WeatherInfo .current-weather {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.WeatherInfo .location-data {
  margin-left: 20px;
  max-width: 350px;
}

.WeatherInfo .temp-data {
  color: var(--branding-color);
  display: flex;
  font-size: 45px;
  margin-top: 20px;
  min-width: 150px;
  padding: 0;
}

.WeatherInfo .current-weather-icon {
  padding: 10px 12px 0 0;
  position: relative;
  top: -3px;
}

.WeatherInfo .unit {
  font-size: 16px;
  position: relative;
  top: -21px;
}

.WeatherInfo .weather-conditions {
  font-size: 13px;
  margin-right: 20px;
  margin-top: 33px;
  padding: 0;
}

@media (max-width: 768px) {
  .WeatherInfo h1 {
    font-size: 40px;
  }

  .WeatherInfo h2 {
    font-size: 16px;
  }

  .WeatherInfo h3 {
    font-size: 14px;
  }

  .WeatherInfo .location-data {
    margin-left: 5px;
  }

  .WeatherInfo .temp-data {
    font-size: 40px;
    min-width: 120px;
    position: relative;
  }

  .WeatherInfo .unit {
    font-size: 14px;
    top: -19px;
  }

  .WeatherInfo .weather-conditions {
    font-size: 11px;
    margin-right: 5px;
  }
}

@media (max-width: 576px) {
  .WeatherInfo h1 {
    font-size: 30px;
  }

  .WeatherInfo h2 {
    font-size: 12px;
  }

  .WeatherInfo h3 {
    font-size: 11px;
  }

  .WeatherInfo .temp-data {
    font-size: 30px;
  }

  .WeatherInfo .current-weather-icon {
    top: -10px;
  }

  .WeatherInfo .unit {
    font-size: 10px;
    top: -14px;
  }

  .WeatherInfo .weather-conditions {
    font-size: 9px;
  }
}

@media (max-width: 420px) {
  .WeatherInfo h1 {
    font-size: 24px;
  }

  .WeatherInfo h2 {
    font-size: 11px;
  }

  .WeatherInfo h3 {
    font-size: 10px;
  }

  .WeatherInfo .temp-data {
    font-size: 24px;
  }

  .WeatherInfo .current-weather-icon {
    top: -15px;
  }

  .WeatherInfo .unit {
    font-size: 8px;
    top: -11px;
  }

  .WeatherInfo .weather-conditions {
    font-size: 7px;
  }
}
