.Weather .search-area {
  margin-bottom: 40px;
  text-align: center;
}

.Weather .compass {
  color: var(--branding-color);
  font-size: 35px;
  left: 5px;
  position: relative;
}

.Weather .compass:hover {
  cursor: pointer;
}

.Weather .search-button {
  background: var(--branding-color);
  border-color: var(--branding-color);
  color: var(--secondary-color);
  font-size: 16px;
  transition: all 150ms ease-in-out;
  width: 150px;
}

.Weather .search-button:hover {
  background-color: var(--secondary-color);
  border-color: var(--branding-color);
  color: var(--branding-color);
}

.Weather hr {
  background: linear-gradient(
    to right,
    transparent,
    var(--branding-color),
    transparent
  );
  border: none;
  height: 3px;
  margin-bottom: 40px;
}

.Weather footer {
  color: var(--secondary-color);
  font-size: 14px;
  text-align: left;
}

.Weather footer a {
  color: var(--secondary-color);
  text-decoration: none;
}

.Weather footer a:hover {
  color: #fd847e;
}

@media (max-width: 768px) {
  .Weather .card-body {
    padding: 10px;
  }

  .Weather .compass {
    font-size: 28px;
    top: 4px;
  }

  .Weather .search-button {
    left: -15px;
    position: relative;
    width: 100px;
  }

  .Weather footer {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .Weather .compass {
    left: -3px;
  }

  .Weather footer {
    font-size: 12px;
  }
}
