.WeatherForecast {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.WeatherForecast .WeatherForecast-day {
  margin-bottom: 10px;
}

.WeatherForecast-temperatures {
  font-size: 18px;
}

.WeatherForecast-temperature-min {
  opacity: 0.5;
}
